.dropdown {
  position: relative;
  display: inline-block;

  .drop-list {
    display: none;
    position: absolute;
    background-color: inherit;
    padding-top: 18px;
    left: 0;
    width: 100%;

    a {
      display: block;
      color: white;
      padding: 15px;
      font-size: 1rem;
      &:hover {
        background-color: gray;
      }
    }
  }

  &:hover {
    .drop-list {
      display: block;
    }
  }
}
