.nav-wrapper {
  width: 15%;
  height: 100%;
  left: 0;

  @include respond-to("large") {
    width: 20%;
  }
  @include respond-to("small") {
    display: none;
  }
  ul {
    background-color: $black;

    li {
      padding: 1rem 0.75rem;
      a {
        color: white;
        font-size: 0.95rem;
      }
    }
  }
}
