h1 {
  font-family: ProximaNova-Bold, tahoma, verdana, arial, sans-serif !important;
  color: $darkgray;
  font-size: 1.95rem !important;
}

.banner {
  max-height: 333px;
  overflow: hidden;
  display: flex;
  align-items: center;

  h1 {
    position: absolute;
    margin-left: 5%;
    word-break: break-all;
    font-family: ProximaNova-Extrabld, tahoma, verdana, arial, sans-serif !important;
    font-size: 2.25rem !important;
  }
}
.scrollspy {
  display: flex;
  flex-direction: row-reverse;
  background-color: $black;

  .scrollspy-content {
    width: 85%;
    background-color: white;
    min-height: 900px; // twitch fix

    @include respond-to("large") {
      width: 80%;
    }

    @include respond-to("small") {
      width: 100%;
    }
  }

  .is-current {
    background-color: gray;
  }
}

.featured-img {
  width: 100%;
  z-index: -1;
}
#section-5 {
  padding: 2em;
  text-align: center;
  h1 {
    padding-bottom: 1em;
  }
}
