@import "./fonts";
@import "./mixins";
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: ProximaNova-Extrabld, tahoma, verdana, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
h1 {
  font-size: 2.25rem;
}
h4,
h5,
h6 {
  font-family: ProximaNova-bold, tahoma, verdana, arial, sans-serif;
}

a,
span {
  font-family: ProximaNova-Bold, tahoma, verdana, arial, sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  text-decoration: none;
}
p {
  font-family: ProximaNova-Light, tahoma, verdana, arial, sans-serif;
}
li {
  list-style: none;
}

.text-light {
  font-family: ProximaNova-Light, tahoma, verdana, arial, sans-serif;
}
.text-bold {
  font-family: ProximaNova-Bold, tahoma, verdana, arial, sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
}
.text-white {
  color: white;
}
